@charset "UTF-8";
@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../polices/Roboto/Roboto-Regular.ttf") format("truetype");
}
/* couleurs */
/* violet */
/* rose */
/* vert */
/* gris clair */
/* pages resto */
/* loader */
/* --- Lignes "index et fonctionnement" & "restos et dish" ---*/
/* --- Alignement (h4, p) "index / cartes resto" & "restos / dish" --- */
/* --- Flex - alignement et ajustement mep --- */
/* --- choix et id des restos "pages restos" / identity --- */
/*--------------- Loader ---------------*/
@keyframes anim-ball {
  from {
    top: 100%;
    height: 5px;
    border-radius: 40px 40px 10px 10px;
    transform: scaleX(1.7);
  }
  20% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  to {
    top: 0;
    /*height: 20px;
    border-radius: 50%;
    transform: scaleX(1);*/
  }
}
@keyframes anim-shadow {
  from {
    transform: scale(0.8, 0.5);
    opacity: 1;
  }
  20% {
    transform: scale(0.5, 0.5);
    opacity: 0.8;
  }
  to {
    transform: scale(0, 0);
    opacity: 0;
  }
}
@keyframes anim-text {
  from {
    transform: rotateX(1turn);
  }
  60% {
    transform: rotateX(0);
  }
}
@keyframes stop-loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -100;
  }
}
@keyframes main-loading {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
/*------- J'aime -/- remplissage du coeur  -------*/
@keyframes full-scale {
  from {
    transform: scale(0);
    animation-timing-function: ease-in-out;
  }
  95% {
    transform: scale(1.1);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes detail {
  from, 95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* ------- Index -/- photos resto  ------- */
@keyframes photo {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
/* ------- Restos -/- menus  ------- */
@keyframes group {
  from {
    left: -50rem;
  }
  to {
    left: 0;
  }
}
@keyframes dish {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.button {
  color: #FFFFFF;
  height: 3.5rem;
  min-width: 15rem;
  border-radius: 2rem;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  box-shadow: 2px 5px 10px #aaaaaa;
  padding: 0 2rem;
  margin-bottom: 1rem;
  display: flex;
  /* pour l''alignement du texte de btn */
  justify-content: center;
  /* pour l'alignement horizontal du texte de btn */
  align-items: center;
  /* pour l'alignement vertical du texte de btn */
  position: relative;
  /* pour le positionnement de ::before dans btn */
}
.button::after {
  /* pour l''éclaircissement de btn - élément en-dessous du texte → ::after */
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  background-color: #FFFFFF;
  box-shadow: 2px 5px 5px #000000;
  position: absolute;
  /* pour le positionnement de ::after dans btn */
  left: 0;
  /* pour le positionnement de ::after dans btn */
  top: 0;
  /* pour le positionnement de ::after dans btn */
  opacity: 0;
  /* état initial de ::after */
  transition: opacity 500ms ease-in-out;
}
.button:hover::after {
  opacity: 0.2;
  /* état final de ::after */
}

.loader-page {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  z-index: 100;
  position: fixed;
  top: 0;
  animation: stop-loading 0.4s 5s forwards;
}

.loader-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}
.loader-box > .loader:nth-child(3) {
  position: relative;
  top: -93px;
}

.loader {
  width: 300px;
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.loader__ball {
  width: 20px;
  /* taille des balles plus petite → meilleure parformance de l'animation : fps reste inférieur ou très proche de 60 (si 25 px pics vers 70 fps) */
  height: 20px;
  border-radius: 50%;
  position: relative;
  animation: anim-ball 0.8s alternate ease;
  animation-iteration-count: 7;
  /* Pour stopper l'animation au bout de 3,5s = jusqu'à ce que les balles se positionnents en haut */
}
.loader__shadow {
  width: 20px;
  height: 3px;
  border-radius: 50%;
  background-color: #aaaaaa;
  opacity: 0;
  filter: blur(1px);
  /* effet flou */
  z-index: -1;
  animation: anim-shadow 1s alternate ease;
  animation-iteration-count: 7;
}
.loader p {
  width: 15px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader > .loader__ball:nth-child(1) {
  background-color: #9356DC;
  animation-delay: 200ms;
}
.loader > .loader__shadow:nth-child(1) {
  animation-delay: 200ms;
}
.loader > p:nth-child(2) {
  animation: anim-text 2s ease;
  animation-iteration-count: 8;
  /* animation balles stoppée au bout de 3,5s -/- 4 cylcles pour l'animation texte */
  animation-delay: 200ms;
}
.loader > .loader__ball:nth-child(2) {
  background-color: #FF79DA;
  animation-delay: 400ms;
}
.loader > .loader__shadow:nth-child(2) {
  animation-delay: 400ms;
}
.loader > p:nth-child(4) {
  animation: anim-text 2s ease;
  animation-iteration-count: 8;
  /* animation balles stoppée au bout de 3,5s -/- 4 cylcles pour l'animation texte */
  animation-delay: 400ms;
}
.loader > .loader__ball:nth-child(3) {
  background-color: #99E2D0;
  animation-delay: 600ms;
}
.loader > .loader__shadow:nth-child(3) {
  animation-delay: 600ms;
}
.loader > p:nth-child(6) {
  animation: anim-text 2s ease;
  animation-iteration-count: 8;
  /* animation balles stoppée au bout de 3,5s -/- 4 cylcles pour l'animation texte */
  animation-delay: 600ms;
}

.love {
  font-size: 2rem;
  position: relative;
  /* pour le positionnement de fas au dessus de far*/
}
.love > .fas {
  color: #9356DC;
  /* linear-gradient($color_1, $color_2); ??? */
  position: absolute;
  /* pour le positionnement de fas au dessus de far */
  left: 0;
  /* pour le positionnement de fas au dessus de far */
  top: 0.15rem;
  transform: scale(0);
  transform-origin: bottom;
}
.love:hover > .fas {
  animation: full-scale 500ms 100ms forwards;
}
.love:hover > .far {
  animation: detail 500ms 100ms forwards;
  /* fait disparaître le coeur vide noir pour résoudre le problème de position de l'un sur l'autre */
}

.header {
  padding: 20px 0;
  position: relative;
  /* pour le positionnement de .return */
  display: flex;
  align-items: center;
}
.header__return {
  font-size: 1.8rem;
  position: absolute;
  /* pour le positionnement de .return */
  left: 2rem;
  /* pour le positionnement de .return */
}
.header__return .fas {
  color: #000000;
}
.header__logo {
  margin: auto;
}

.foot {
  color: #FFFFFF;
  background-color: #444444;
  padding: 1rem 2rem;
}
.foot__link a {
  color: #FFFFFF;
  text-decoration: none;
}
.foot__link a:hover {
  color: #FF79DA;
  transition: all 100ms ease-in-out;
}
.foot__icone {
  font-size: 0.9rem;
  width: 1.8rem;
}

@media all and (min-width: 576px) {
  .foot > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
/* ----- INDEX MAIN -/- LOADING ----- */
/* .index {
	visibility: hidden;
	animation: main-loading .2s 3.2s forwards;
} */
/* ----- INDEX SECTION 1 -/- SEARCH ----- */
.search {
  padding: 20px 0;
  background: linear-gradient(#c3c3c3, #e9e9e9 10%);
  display: flex;
  justify-content: center;
}
.search__input {
  width: 11rem;
  font-size: 18px;
  text-align: center;
  border: none;
  background: transparent;
}

/* ----- INDEX SECTION 2 -/- TOPO ---- */
.topo {
  text-align: center;
  background-color: #F6F6F6;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* permet des width différents pour les boites de .topo  pour ils ne s'étirent pas tous à 100% de .topo */
}
.topo h2 {
  margin: 0;
}
.topo p {
  font-size: 1.3rem;
  font-weight: normal;
}
.topo__link {
  text-decoration: none;
}

/* ----- INDEX SECTION 3 -/- NAV ----- */
.use {
  padding: 2rem 2rem 1rem 2rem;
}
.use__box {
  padding: 1rem 0 1rem 1rem;
  /* alignement left de h2 et nav avec centrage de nav__link*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*border: solid 1px black;*/
}
.use__line {
  color: #000000;
  background-color: #F6F6F6;
  width: 100%;
  height: 5rem;
  border-radius: 1.5rem;
  box-shadow: 2px 5px 5px #c3c3c3;
  margin-bottom: 2rem;
  display: flex;
  /* pour alignement des sous éléments */
  justify-content: center;
  /* alignement horizontal des sous éléments */
  align-items: center;
  /* alignement vertical des sous éléments */
  position: relative;
  /* pour pouvoir positionner les sous éléments */
}
.use__line-number {
  color: #FFFFFF;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: #9356DC;
  display: flex;
  /* pour alignement des sous éléments */
  justify-content: center;
  /* alignement horizontal des sous éléments */
  align-items: center;
  /* alignement vertical des sous éléments */
  position: absolute;
  /* positionnement de use__number */
  left: -1rem;
  /* positionnement de use__number */
  z-index: 10;
}
.use__line-icone {
  /*width: 2rem;*/
  color: #9356DC;
  font-size: 1.3rem;
  position: relative;
  /* positionnement de use__icone */
  right: 1.5rem;
  /* positionnement de use__icone */
}
.use__line::after {
  /* éclaircissement de btn -/- élément en-dessous du texte → ::after */
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;
  /* cf border-radius de @mixin window */
  background-color: #ffc6ef;
  position: absolute;
  /* pour positionnement de ::after dans btn */
  left: 0;
  /* positionnement de ::after dans btn */
  top: 0;
  /* positionnement de ::after dans btn */
  opacity: 0;
  /* état initial de ::after */
  transition: opacity 200ms ease-in-out;
}
.use__line:hover::after {
  opacity: 0.2;
  /* état final de ::after */
}

/* ----- INDEX SECTION 4 -/- RESTOS ----- */
.restos {
  background-color: #F6F6F6;
  padding: 2rem;
}
.restos > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  /* background-color: $color_01 */
  width: 100%;
  /* pour firefox */
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 2px 5px 10px #c3c3c3;
  margin-bottom: 2rem;
  position: relative;
  /* pour pouvoir positionner les enfants */
}
.card__link {
  color: #000000;
  text-decoration: none;
}
.card__img {
  width: 100%;
  height: 13rem;
  overflow: hidden;
}
.card__img .photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
}
.card__img .photo.ajust_1 {
  object-position: 50% 100%;
}
.card__img .photo.ajust_2 {
  object-position: 50% 60%;
}
.card__info {
  padding: 0 2rem 0 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.card__info h4, .card__info p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* comportement du dépassement en fin de ligne / fonctionne si largeur fixe */
}
.card__info h4 {
  margin-top: 1rem;
  margin-bottom: 0;
}
.card__info p {
  margin-top: 0.5rem;
}
.card__new {
  color: #1b6150;
  background-color: #99E2D0;
  padding: 0.5rem 1rem;
  position: absolute;
  /* positionnement de card__new */
  top: 0.1rem;
  /* positionnement de card__new */
  right: 1rem;
  /* positionnement de card__new */
}
.card:hover .card__new {
  animation: full-scale 500ms 200ms forwards;
}
.card:hover .photo {
  transition: transform 200ms 100ms ease-in;
  transform: scale(1.1);
}
.card:not(:hover) .photo {
  transition: transform 200ms ease-in;
  transform: scale(1);
}

@media all and (max-width: 575px) {
  .card {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 1280px) {
  .card {
    width: 47%;
  }

  .use__box {
    width: 70%;
    margin: auto;
  }
}
@media all and (min-width: 1281px) {
  .card {
    width: 23%;
  }

  .use__line {
    max-width: 30%;
  }
}
/* ----- PAGES RESTO SECTION 1 -/- IDENTITY ----- */
.identity-0 {
  /* page_template */
  background-image: url("../img/restaurants/the_taste_palette.jpg");
  background-size: 110%;
  width: 100%;
  height: 22rem;
  padding-top: 1.5rem;
}
.identity-0__head {
  height: 7rem;
  background-color: #F6F6F6;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  top: 15rem;
  padding: 0 2rem 0 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.identity-1 {
  /* page_1 */
  background-image: url("../img/restaurants/the_taste_palette.jpg");
  background-size: 110%;
  width: 100%;
  height: 22rem;
  padding-top: 1.5rem;
}
.identity-1__head {
  height: 7rem;
  background-color: #F6F6F6;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  top: 15rem;
  padding: 0 2rem 0 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.identity-2 {
  /* page_2 */
  background-image: url("../img/restaurants/the_enchanted_note.jpg");
  background-size: 100%;
  background-position: 0 -150px;
  width: 100%;
  height: 22rem;
  padding-top: 1.5rem;
}
.identity-2__head {
  height: 7rem;
  background-color: #F6F6F6;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  top: 15rem;
  padding: 0 2rem 0 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.identity-3 {
  /* page_3 */
  background-image: url("../img/restaurants/the_french_style.jpg");
  background-size: 110%;
  width: 100%;
  height: 22rem;
  padding-top: 1.5rem;
}
.identity-3__head {
  height: 7rem;
  background-color: #F6F6F6;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  top: 15rem;
  padding: 0 2rem 0 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.identity-4 {
  /* page_4 */
  background-image: url("../img/restaurants/delight_of_the_senses.jpg");
  background-size: 100%;
  width: 100%;
  height: 22rem;
  padding-top: 1.5rem;
}
.identity-4__head {
  height: 7rem;
  background-color: #F6F6F6;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  top: 15rem;
  padding: 0 2rem 0 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

/* ----- PAGES RESTO SECTION 1 -/- MENU ----- */
.menu {
  background-color: #F6F6F6;
  padding: 0 1rem 0.5rem 1rem;
}
.menu__group {
  padding-top: 0.5rem;
  position: relative;
  animation: group 800ms both ease-out;
}
.menu__line {
  width: 3rem;
  height: 0.3rem;
  background-color: #99E2D0;
  border: none;
  margin: -1rem 0 1.5rem 0;
}
.menu__dish {
  background-color: #FFFFFF;
  width: 100%;
  height: 5rem;
  border-radius: 1.5rem;
  box-shadow: 2px 5px 5px #c3c3c3;
  margin-bottom: 1rem;
  overflow: hidden;
  cursor: pointer;
  animation: dish 1s both cubic-bezier(0, 0, 0.2, 1);
  /* un peu plus doux que ease-out à la fin */
}
.menu__dish--L1 {
  animation-delay: 960ms;
}
.menu__dish--L2 {
  animation-delay: 1120ms;
}
.menu__dish--L3 {
  animation-delay: 1280ms;
}
.menu__dish--L4 {
  animation-delay: 1440ms;
}
.menu__dish--L5 {
  animation-delay: 1600ms;
}
.menu__dish--L6 {
  animation-delay: 1760ms;
}
.menu__dish--L7 {
  animation-delay: 1920ms;
}
.menu__dish--L8 {
  animation-delay: 2080ms;
}
.menu__dish--L9 {
  animation-delay: 2240ms;
}
.menu__dish--L10 {
  animation-delay: 2400ms;
}
.menu__dish--valid {
  /* animation coche plat */
  width: 130%;
  padding-left: 1rem;
  display: flex;
  /* pour alignement des sous éléments */
  flex-wrap: nowrap;
  justify-content: flex-start;
  /* alignement horizontal des sous éléments */
  align-items: flex-end;
  /* alignement vertical des sous éléments */
  transition: all 500ms;
}
.menu__dish--valid:hover {
  /* prépa animation */
  width: 100%;
}
.menu__dish--valid:hover > .menu__dish-box-3 > .fas {
  transform: rotate(1turn);
}
.menu__dish-box-1 {
  width: 60%;
}
.menu__dish-box-1 h4, .menu__dish-box-1 p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* comportement du dépassement en fin de ligne / fonctionne si largeur fixe */
}
.menu__dish-box-1 h4 {
  margin-top: 1rem;
  margin-bottom: 0;
}
.menu__dish-box-1 p {
  margin-top: 0.5rem;
}
.menu__dish-box-2 {
  width: 20%;
  text-align: center;
  font-weight: bold;
}
.menu__dish-box-3 {
  width: 20%;
  height: 5.5rem;
  background-color: #99E2D0;
  margin-top: -0.5rem;
  /* ajustement centrage vertical ??? */
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__dish-box-3 .fas {
  color: #FFFFFF;
  font-size: 2rem;
  transform: rotate(0);
  transition: transform 420ms 80ms;
  /* choix valeur cf ChromeDevTool */
}

/* ----- PAGES RESTO SECTION 1 -/- COMMAND -----*/
.command {
  background-color: #F6F6F6;
  padding: 3rem;
  display: flex;
  /* permet d'appliquer le padding de button plutôt que le witdh 100% du parent par défaut */
  justify-content: center;
}
.command__link {
  text-decoration: none;
}

@media (min-width: 576px) and (max-width: 1280px) {
  .menu-wrap {
    width: 70%;
    margin: auto;
  }
}
@media all and (min-width: 1281px) {
  .menu-wrap {
    width: 32%;
  }

  .menu {
    display: flex;
    justify-content: space-between;
  }
}
/* Break points 480 (560) 780 960 */
body {
  font-family: Roboto-Regular, Arial, sans-serif;
  font-size: 1.1rem;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1, h3 {
  font-weight: normal;
}

h1, h3 {
  font-family: Shrikhand, Arial, sans-serif;
}

h1 {
  font-size: 2rem;
}

* {
  box-sizing: border-box;
  /* les padding et bordures ne modifient pas les dimensions des boites */
}

/*# sourceMappingURL=style.css.map */
