.header {
	padding: 20px 0;
	position: relative;			/* pour le positionnement de .return */
	display: flex;
	align-items: center;
	&__return {
		font-size: 1.8rem;
		position: absolute;		/* pour le positionnement de .return */
		left: 2rem;				/* pour le positionnement de .return */
		.fas {
			color: $color_00;
		}
	}
	&__logo {
		margin: auto;
	}
}
