@font-face 
{
	font-family: 'Shrikhand';
	src: url('../polices/Shrikhand/Shrikhand-Regular.ttf') format('truetype');
}
@font-face 
{
	font-family: 'Roboto-Regular';
	src: url('../polices/Roboto/Roboto-Regular.ttf') format('truetype');
}
